p.speech{
    font-size: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:red;
}
p.song{
    font-size: 13px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:aqua;
}
p.direction{
    font-size: 14px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    color:burlywood;
}
direction:hover
{
    background-color: antiquewhite;
    color: rgb(16, 215, 86);
}
h6.name 
{
    font-size: 20px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    color:yellow;
}
table.table
{
    border:2mm;
    color:darkmagenta;
    text-align: center;
    padding: 60px;
    margin:20px;
}
