p.speech{
    font-size: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:red;
}
p.song{
    font-size: 13px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:aqua;
}
p.direction{
    font-size: 14px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    color:burlywood;
}
direction:hover
{
    background-color: antiquewhite;
    color: rgb(16, 215, 86);
}
h6.name
{
    font-size: 15px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    color:greenyellow;
}
.CHO
{
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif;
    color:rgb(118, 63, 63);
}
.CHO
{
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif;
    color:rgb(118, 63, 63);
}
.VIT
{
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif;
    color:rgb(59, 12, 247);

}
.BOTH
{
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif;
    color:rgb(13, 236, 132);
 
}
.ALL
{
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif;
    color:rgb(236, 13, 150);
 
}
.GIU
{
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif;
    color:rgb(162, 236, 13);
 
}
.TESS
{
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif;
    color:rgb(236, 132, 13);
 
}
.GIA
{
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif;
    color:rgb(123, 182, 207);
 
}
.MAR
{
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif;
    color:rgb(16, 243, 190);
 
}
.FIA
{
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif;
    color:rgb(243, 16, 133);
 
}
.SONG—COLONEL
{
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif;
    color:yellow;
}







